#header-nav{
    border-radius: 0;
    border: 0;
}
#nav-list{
    background-color: rgb(228, 176, 176);
    margin-top: 0;
    margin-bottom: 0;
}
#section1{
    background-color: rgb(201, 195, 195);
}
#collapsable-nav{
    background-color: rgb(201, 195, 195);
    margin: 7.5px -15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#navbar-header-id{
    background-color: rgb(201, 195, 195);
}
#chicken, #sushi{
    border: 1px solid black;
}
